// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//Metronic Styles and skins
// base style
@import "../admin-theme/src/assets/sass/style";

//local style
@import "../admin-theme/src/assets/sass/global/layout/aside/skins/dark";
@import "../admin-theme/src/assets/sass/global/layout/brand/skins/dark";
@import "../admin-theme/src/assets/sass/global/layout/header/skins/base/light";
@import "../admin-theme/src/assets/sass/global/layout/header/skins/menu/light";

html {
    scroll-behavior: smooth;
}

.kt-wizard-v2 .kt-wizard-v2__wrapper .kt-form {
    padding: 1.5rem;
    width: 100%;
}