<template>
    <div>
        <div class="kt-heading kt-heading--md">Last, provide some admin information</div>
        <div class="form-group validated">
            <label>Admin Email</label>
            <input v-model="form.admin_email" type="email" class="form-control">
            <div v-if="form.errors.has('admin_email')" class="error invalid-feedback">{{ form.errors.first('admin_email') }}</div>
        </div>
        <div class="form-group validated">
            <label>Admin Phone Number</label>
            <input v-model="form.admin_phone" type="text" class="form-control">
            <div v-if="form.errors.has('admin_phone')" class="error invalid-feedback">{{ form.errors.first('admin_phone') }}</div>
        </div>
        <div class="form-group validated">
            <label>Linked In Profile URL</label>
            <input v-model="form.linkedin_url" type="url" class="form-control">
            <div v-if="form.errors.has('linkedin_url')" class="error invalid-feedback">{{ form.errors.first('linkedin_url') }}</div>
        </div>
        <div class="form-group validated">
            <label>Twitter URL</label>
            <input v-model="form.twitter_url" type="url" class="form-control">
            <div v-if="form.errors.has('twitter_url')" class="error invalid-feedback">{{ form.errors.first('twitter_url') }}</div>
        </div>
        <div class="form-group validated">
            <label>Facebook URL</label>
            <input v-model="form.facebook_url" type="url" class="form-control">
            <div v-if="form.errors.has('facebook_url')" class="error invalid-feedback">{{ form.errors.first('facebook_url') }}</div>
        </div>
        <div class="form-group validated">
            <label>Instagram URL</label>
            <input v-model="form.instagram_url" type="url" class="form-control">
            <div v-if="form.errors.has('instagram_url')" class="error invalid-feedback">{{ form.errors.first('instagram_url') }}</div>
        </div>
    </div>
</template>

<script>
import { EventBus } from '../../event-bus';
import Form from 'form-backend-validation';
export default {
    props: ['company'],
    data() {
        return {
            form: new Form({
                admin_email: '',
                admin_phone: '',
                linkedin_url: '',
                twitter_url: '',
                facebook_url: '',
                instagram_url: '',
                id: '',
                step: 'step-6'
            })
        }
    },
    mounted() {
        this.listenEvents();
    },
    methods: {
        listenEvents() {
            EventBus.$on('next-clicked', (payload) => {
                if (payload.activeStep === 'step-6') {
                    this.form.id = this.company.id;
                    // send request to backend and save data
                    this.form.post('/company/create').then(response => {
                        EventBus.$emit('company-admin-info-saved', response);
                    }).catch(error => {
                        console.log(error);
                    })
                }
            })
        }
    }
}
</script>
