<template>
    <div>
        <div class="kt-heading kt-heading--md">Let's get some basic information</div>
        <div class="kt-form__section kt-form__section--first">
            <div class="kt-wizard-v2__form row">

                <div class="form-group validated col-12" :class="basicInfoForm.errors.has('company_name') ? 'is-invalid' : ''">
                    <label for="company_name" class="form-control-label">Compayny name</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fa fa-globe"> </i></span></div>
                        <input v-model="basicInfoForm.company_name" class="form-control" placeholder="Enter company name"
                            name="company_name" type="text" id="company_name">
                    </div>
                    <div v-if="basicInfoForm.errors.has('company_name')" class="error invalid-feedback">{{ basicInfoForm.errors.first('company_name') }}</div>
                </div>

                <div class="form-group validated col-6">
                    <label for="min_project_size" class="form-control-label">What is your minimum
                        project size?</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fa fa-globe"> </i></span></div>
                        <select v-model="basicInfoForm.min_project_size" class="form-control kt-selectpicker" data-size="5"
                            id="min_project_size" name="min_project_size">
                            <option value="">Select a value</option>
                            <option v-for="ps in projectSize" :key="ps">{{ps}}</option>
                        </select>
                    </div>
                    <div v-if="basicInfoForm.errors.has('min_project_size')" class="error invalid-feedback">{{ basicInfoForm.errors.first('min_project_size') }}</div>
                </div>

                <div class="form-group validated col-6">
                    <label for="hourly_rate" class="form-control-label">What is your hourly
                        rate?</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fa fa-globe"> </i></span></div>
                        <select v-model="basicInfoForm.hourly_rate" class="form-control kt-selectpicker" data-size="5" id="hourly_rate"
                            name="hourly_rate">
                            <option value="">Select a value</option>
                            <option v-for="hr in hourlyRate" :key="hr">{{hr}}</option>
                        </select>
                    </div>
                    <div v-if="basicInfoForm.errors.has('hourly_rate')" class="error invalid-feedback">{{ basicInfoForm.errors.first('hourly_rate') }}</div>
                </div>

                <div class="form-group validated col-6">
                    <label for="company_size" class="form-control-label">What size is your
                        company?</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fa fa-globe"> </i></span></div>
                        <select v-model="basicInfoForm.company_size" class="form-control kt-selectpicker" data-size="5" id="company_size"
                            name="company_size">
                            <option value="">Select a value</option>
                            <option v-for="cs in companySize" :key="cs">{{cs}}</option>
                        </select>
                    </div>
                    <div v-if="basicInfoForm.errors.has('company_size')" class="error invalid-feedback">{{ basicInfoForm.errors.first('company_size') }}</div>
                </div>

                <div class="form-group validated col-6">
                    <label for="year_founded" class="form-control-label">When was your company
                        founded?</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fa fa-globe"> </i></span></div>
                        <input v-model="basicInfoForm.year_founded" class="form-control" placeholder="2010" name="year_founded"
                            type="number" id="year_founded">
                    </div>
                    <div v-if="basicInfoForm.errors.has('year_founded')" class="error invalid-feedback">{{ basicInfoForm.errors.first('year_founded') }}</div>
                </div>

                <div class="form-group validated col-12">
                    <label for="tegline" class="form-control-label">Tagline</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fa fa-globe"> </i></span></div>
                        <input v-model="basicInfoForm.tagline" class="form-control" placeholder="Enter tagline" name="tegline"
                            type="text" id="tegline">
                    </div>
                    <div v-if="basicInfoForm.errors.has('tagline')" class="error invalid-feedback">{{ basicInfoForm.errors.first('tagline') }}</div>
                </div>

                <div class="form-group validated col-12">
                    <label for="summary" class="form-control-label">Summary</label>
                    <textarea v-model="basicInfoForm.summary" class="form-control"
                        placeholder="Short description about your company" name="summary" cols="50"
                        rows="10" id="summary"></textarea>
                    <div v-if="basicInfoForm.errors.has('summary')" class="error invalid-feedback">{{ basicInfoForm.errors.first('summary') }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from 'form-backend-validation';
    import {EventBus} from '../../event-bus';

    export default {
        props: ['company'],
        data() {
            return {
                projectSize: [
                    '$1000+',
                    '$5000+',
                    '$10000+',
                    '$25000+',
                    '$50000+',
                    '$75000+',
                    '$100000+',
                    '$250000+',
                ],
                hourlyRate: [
                    '<$25',
                    '$25-$49',
                    '$50-$99',
                    '$100-$149',
                    '$150-$199',
                    '$200-$249',
                    '$250-$299',
                    '$300+',
                ],
                companySize: [
                    'Freelancer',
                    '2-9',
                    '10-49',
                    '50-249',
                    '250-999',
                    '1000-9999',
                    '10000+'
                ],
                basicInfoForm: new Form({
                    company_name: "",
                    min_project_size: "",
                    hourly_rate: "",
                    company_size: "",
                    year_founded: "",
                    tagline: "",
                    summary: "",
                    step: 'step-1',
                    id: '',
                }),
            }
        },
        mounted() {
            if (this.company) {
                this.bindCompanyData();
            }
            this.listenEvents();
        },
        methods: {
            bindCompanyData() {
                // bind company data.
                this.basicInfoForm.id = this.company.id;
                this.basicInfoForm.company_name = this.company.name;
                this.basicInfoForm.min_project_size = this.company.min_project_size;
                this.basicInfoForm.hourly_rate = this.company.hourly_rate;
                this.basicInfoForm.company_size = this.company.company_size;
                this.basicInfoForm.year_founded = this.company.year_founded;
                this.basicInfoForm.tagline = this.company.tagline;
                this.basicInfoForm.summary = this.company.summary;
            },
            listenEvents() {
                EventBus.$on('next-clicked', (payload) => {
                    if (payload.activeStep === 'step-1') {
                        // send request to backend and save data
                        this.basicInfoForm.post('/company/create').then(response => {
                            EventBus.$emit('company-saved', response);
                        }).catch(error => {
                            console.log(error);
                        })
                    }
                })
            }
        }
    }
</script>
