<template>
    <div>
        <div class="kt-heading kt-heading--md">What's your company's focus?</div>
        <div class="kt-form__section kt-form__section--first">
            <div class="kt-wizard-v2__form row">
                <div class="col-6">
                    <legend>Add Service Line</legend>

                    <div class="list-group">
                        <a style="cursor: pointer;" v-for="(service, indexService) in services" @click="onServiceClick(service, indexService)" :key="'service-'+service.id" class="list-group-item d-flex justify-content-between align-items-center"> 
							{{ service.name }} <i v-if="!service.selected" class="flaticon-add-circular-button text-success"></i> <i v-else class="flaticon-cancel text-danger"></i>
						</a>
                    </div>
                </div>

				<div class="col-6">
					<legend>Service Lines</legend>
					<div class="row mb-2" v-for="(selectedService, indexService) in selectedServices" :key="'ss-'+selectedService.id">
						<div class="col-5">
							<div class="input-group">
								<input v-model="selectedService.percentage" class="form-control" placeholder="0" type="number" min="0" max="100">
								<div class="input-group-append"><span class="input-group-text">%</span></div>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							{{ selectedService.name }}
						</div>
						<small v-if="form && form.errors.has('services.'+indexService+'.percentage')" class="text-danger ml-2 mt-1">{{ form.errors.first('services.'+indexService+'.percentage') }}</small>
					</div>
				</div>
            </div>
			<div class="kt-wizard-v2__form row mt-3">
                <div class="col-6">
                    <legend>Add Industry Focus</legend>

                    <div class="list-group">
                        <a style="cursor: pointer;" v-for="(industry, indexIndustry) in industries" @click="onIndustryClick(industry, indexIndustry)" :key="'industry-'+industry.id" class="list-group-item d-flex justify-content-between align-items-center"> 
							{{ industry.name }} <i v-if="!industry.selected" class="flaticon-add-circular-button text-success"></i> <i v-else class="flaticon-cancel text-danger"></i>
						</a>
                    </div>
                </div>

				<div class="col-6">
					<legend>Industry Lines</legend>
					<div class="row mb-2" v-for="(selectedIndustry, indexSelIndustry) in selectedIndustries" :key="'ss-'+selectedIndustry.id">
						<div class="col-5">
							<div class="input-group">
								<input v-model="selectedIndustry.percentage" class="form-control" placeholder="0" type="number" min="0" max="100">
								<div class="input-group-append"><span class="input-group-text">%</span></div>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							{{ selectedIndustry.name }}
						</div>
						<small v-if="form && form.errors.has('industries.'+indexSelIndustry+'.percentage')" class="text-danger ml-2 mt-1">{{ form.errors.first('industries.'+indexSelIndustry+'.percentage') }}</small>
					</div>
				</div>
            </div>
        </div>
    </div>
</template>

<script>
import { EventBus } from '../../event-bus';
import Form from 'form-backend-validation';

export default {
	props: ['company'],
	data() {
		return {
			services: [],
			selectedServices: [],
			industries: [],
			selectedIndustries: [],
			form: null,
		}
	},
	mounted() {
		this.getServices();
		this.getIndustries();
		this.listenEvents();

		if(this.company) {
			this.getCompanyServices();
			this.getCompanyIndustries();
		}
	},
	methods: {
		getCompanyServices() {
			axios.get(`/company/${this.company.id}/services`).then(response => {
				response.data.map(service => {
					const serviceIndex = this.services.findIndex((item) => {
						return item.id == service.id;
					})
					this.onServiceClick(service, serviceIndex);
				})
			})
		},
		getCompanyIndustries() {
			axios.get(`/company/${this.company.id}/industries`).then(response => {
				response.data.map(industry => {
					const industryIndex = this.industries.findIndex((item) => {
						return item.id == industry.id;
					})
					this.onIndustryClick(industry, industryIndex);
				})
			})
		},
		listenEvents() {
			EventBus.$on('next-clicked', (payload) => {
				if (payload.activeStep === 'step-4') {
					this.id = this.company.id;
					this.form = new Form({
						services : this.selectedServices.map(service => {
							return {
								id: service.id,
								percentage: service.percentage,
							}
						}),
						industries : this.selectedIndustries.map(industry => {
							return {
								id: industry.id,
								percentage: industry.percentage,
							}
						}),
						id: payload.id,
						step: 'step-4'
					});

					// send request to backend and save data
					this.form.post('/company/create').then(response => {
						EventBus.$emit('company-focus-saved', response);
					}).catch(error => {
						console.log(error);
					});
				}
			})
		},
		getIndustries() {
			axios.get('/industries').then(response => {
				this.industries = response.data.map(item => {
					return {...item, selected: false }
				});
			})
		},
		onIndustryClick(industry, index) {				
			// add or remove item on click
			if (this.industries[index].selected) {
				// find index of selected industry in selectedIndustries, 
				// becoz index is of industries and not selectedIndustries
				const selectedIndustryIndex = this.selectedIndustries.findIndex((item) => {
					return item.id == industry.id;
				});
				
				this.selectedIndustries.splice(selectedIndustryIndex, 1);
				Vue.set(this.industries, index, { ...industry, selected: false })
			} else {
				this.selectedIndustries.push({...industry, percentage: '' });
				Vue.set(this.industries, index, { ...industry, selected: true })
			}
		},
		onServiceClick(service, index) {				
			// add or remove item on click
			if (this.services[index].selected) {
				// find index of selected service in selectedServices, 
				// becoz index is of services and not selectedServices
				const selectedServiceIndex = this.selectedServices.findIndex((item) => {
					return item.id == service.id;
				});
				
				this.selectedServices.splice(selectedServiceIndex, 1);
				Vue.set(this.services, index, { ...service, selected: false })
			} else {
				this.selectedServices.push({...service, percentage: '' });
				Vue.set(this.services, index, { ...service, selected: true })
			}
		},
		getServices() {
			axios.get('/services').then(response => {
				this.services = response.data.map(item => {
					return {...item, selected: false }
				});
			})
		}
	}
}

</script>
