<template>
    <div>
        <div class="kt-heading kt-heading--md">How do you want your leads to contact you?</div>
        <div class="kt-form__section kt-form__section--first">
            <div class="kt-wizard-v2__form row">

                <div class="form-group validated col-12">
                    <label for="website" class="form-control-label">Website</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-globe">
                                </i></span></div>
                        <input v-model="form.website" class="form-control" placeholder="Enter website" name="website" type="url" id="website">
                    </div>
                    <div v-if="form.errors.has('website')" class="error invalid-feedback">{{ form.errors.first('website') }}</div>
                </div>

                <div class="form-group validated col-12">
                    <label for="primary_sales_email" class="form-control-label">Primary Sales Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-globe">
                                </i></span></div>
                        <input v-model="form.email" class="form-control" placeholder="Enter email" name="primary_sales_email" type="email" id="primary_sales_email">
                    </div>
                    <div v-if="form.errors.has('email')" class="error invalid-feedback">{{ form.errors.first('email') }}</div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '../../event-bus';
    import Form from 'form-backend-validation';

    export default {
        props: ['company'],
        data() {
            return  {
                form: new Form({
                    website: '',
                    email: '',
                    id: '',
                    step: 'step-3',
                })
            }
        },
        mounted() {
            if (this.company) {
                this.form.website = this.company.website;
                this.form.email = this.company.email;
            }
            this.listenEvents();
        },
        methods: {
            listenEvents() {
                EventBus.$on('next-clicked', (payload) => {
                    if (payload.activeStep === 'step-3') {
                        this.form.id = this.company.id;
                        // send request to backend and save data
                        this.form.post('/company/create').then(response => {
                            EventBus.$emit('company-lead-saved', response);
                        }).catch(error => {
                            console.log(error);
                        });
                    }
                })
            },
        }
    }
</script>
