<template>
    <div>
        <div class="kt-heading kt-heading--md">Where is your company located?</div>
        <div class="kt-form__section kt-form__section--first">
            <div class="kt-portlet" v-for="(location, index) in locations" :key="'location-'+index">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            {{ location.is_head === true ? 'Headquarters Location' : 'Location' }}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar" v-if="location.is_head !== true">
                        <div class="kt-portlet__head-actions">
                            <a @click="removeLocation(index)" class="btn btn-default btn-pill btn-sm btn-icon btn-icon-md"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon2-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="form-group validated col-6">
                            <label for="contry_id" class="form-control-label">Country</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-globe">
                                        </i></span></div>
                                <select @change="onCountryChange(index)" v-model="location.country"
                                    class="form-control kt-selectpicker" data-size="5" id="contry_id" name="contry_id">
                                    <option value="">Select a value</option>
                                    <option v-for="country in countries" :key="country.id" :value="country.id">
                                        {{ country.name }}</option>
                                </select>
                            </div>
                            <div v-if="form && form.errors.has('locations.'+index+'.country')" class="error invalid-feedback">{{ form.errors.first('locations.'+index+'.country') }}</div>
                        </div>

                        <div class="form-group validated col-6">
                            <label for="state" class="form-control-label">State</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-globe">
                                        </i></span></div>
                                <select @change="onStateChange(index)" v-model="location.state"
                                    class="form-control kt-selectpicker" data-size="5" id="state" name="state">
                                    <option value="">Select a value</option>
                                    <option v-for="state in location.states" :key="state.id" :value="state.id">
                                        {{ state.name }}
                                    </option>
                                </select>
                            </div>
                            <div v-if="form && form.errors.has('locations.'+index+'.state')" class="error invalid-feedback">{{ form.errors.first('locations.'+index+'.state') }}</div>
                        </div>

                        <div class="form-group validated col-6">
                            <label for="city" class="form-control-label">City</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-globe">
                                        </i></span></div>
                                <select v-model="location.city" class="form-control kt-selectpicker" data-size="5" id="city"
                                    name="city">
                                    <option value="">Select a value</option>
                                    <option v-for="city in location.cities" :key="city.id" :value="city.id">
                                        {{ city.name }}
                                    </option>
                                </select>
                            </div>
                            <div v-if="form && form.errors.has('locations.'+index+'.city')" class="error invalid-feedback">{{ form.errors.first('locations.'+index+'.city') }}</div>
                        </div>

                        <div class="form-group validated col-6">
                            <label for="address" class="form-control-label">Address</label>
                            <textarea v-model="location.address" name="address" id="address" rows="2"
                                class="form-control"></textarea>
                            <div v-if="form && form.errors.has('locations.'+index+'.address')" class="error invalid-feedback">{{ form.errors.first('locations.'+index+'.address') }}</div>
                        </div>

                        <div class="form-group validated col-6">
                            <label for="postal_code" class="form-control-label">Postal Code</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-globe">
                                        </i></span></div>
                                <input v-model="location.postal_code" class="form-control" placeholder="Enter postal code"
                                    name="postal_code" type="text" id="postal_code">
                            </div>
                            <div v-if="form && form.errors.has('locations.'+index+'.postal_code')" class="error invalid-feedback">{{ form.errors.first('locations.'+index+'.postal_code') }}</div>
                        </div>

                        <div class="form-group validated col-6">
                            <label for="phone_number" class="form-control-label">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-globe">
                                        </i></span></div>
                                <input v-model="location.phone" class="form-control" placeholder="Enter phone"
                                    name="phone_number" type="number" id="phone_number">
                            </div>
                            <div v-if="form && form.errors.has('locations.'+index+'.phone')" class="error invalid-feedback">{{ form.errors.first('locations.'+index+'.phone') }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <button class="btn btn-primary" @click.prevent.stop="addLocation(false)">Add Another Location</button>
    </div>
</template>
<script>
    import Form from 'form-backend-validation';
    import {
        EventBus
    } from '../../event-bus';

    export default {
        props: ['company'],
        data() {
            return {
                countries: [],
                locations: [],
                form: null,
            }
        },
        mounted() {
            if (this.company) {
                this.getLocations();
            } else {
                this.addLocation(true);
            }
            this.getCoutries();
            this.listenEvents();
        },
        methods: {
            getLocations() {
                axios.get(`/company/${this.company.id}/locations`).then(response => {

                    response.data.map((location, index) => {

                        this.locations.push(new Form({
                            is_head : location.is_headquarter,
                            country: location.country_id,
                            state: location.state,
                            city: location.city,
                            address: location.address,
                            postal_code: location.postal_code,
                            phone: location.phone_number,
                            states: [],
                            cities: [],
                        }))

                        this.onCountryChange(index);
                        this.onStateChange(index);
                    })

                    if (this.locations.length == 0) {
                        this.addLocation(true);
                    }
                })
            },
            listenEvents() {
                EventBus.$on('next-clicked', (payload) => {
                    if (payload.activeStep === 'step-2') {
                        const locations = this.locations.map(form => form.only(['country', 'state', 'is_head', 'city', 'address', 'phone', 'postal_code']))
                        const formData = {
                            locations, 
                            step: 'step-2',
                            id: this.company.id,
                        }
                        // create a new form
                        this.form = new Form(formData);
                        // send request to backend and save data
                        this.form.post('/company/create').then(response => {
                            EventBus.$emit('company-location-saved', response);
                        }).catch(error => {
                            console.log(error);
                        });
                    }
                })
            },
            removeLocation(index) {
                this.locations.splice(index, 1);
            },
            onStateChange(index) {
                if (this.locations[index].state) {
                    axios.get('/cities', {
                        params: {
                            state: this.locations[index].state
                        }
                    }).then(response => {
                        this.locations[index].cities = response.data;
                    })
                }
            },
            onCountryChange(index) {
                if (this.locations[index].country) {
                    axios.get('/states', {
                        params: {
                            country: this.locations[index].country
                        }
                    }).then(response => {
                        this.locations[index].states = response.data;
                    })
                }
            },
            addLocation(is_head = false) {
                this.locations.push(new Form({
                    is_head,
                    country: '',
                    state: '',
                    city: '',
                    address: '',
                    postal_code: '',
                    phone: '',
                    states: [],
                    cities: [],
                }))
            },
            getCoutries() {
                axios.get('/countries').then(response => {
                    this.countries = response.data;
                })
            }
        }

    }

</script>
