<template>
    <div class="row">
        <div class="col-12">
            <div class="kt-heading kt-heading--md">Show off your best work</div>
        </div>
        <div class="kt-portlet kt-portlet--mobile col-6">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Add portfolio items
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
                <div class="form-group">
                    <label>Image Upload</label>
                    <input ref="file" @change="onFileChange" type="file" class="form-control">
                </div>
                <div class="form-group">
                    <label>Project Category</label>
                    <select v-model="form.category" class="form-control">
                        <option value="">Select a value</option>
                        <option v-for="category in categories" :key="category.id">{{ category.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input v-model="form.title" placeholder="Enter title" type="text" class="form-control">
                </div>
                
                <div class="form-group">
                    <label>Link</label>
                    <input v-model="form.link" placeholder="Enter link" type="url" class="form-control">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea v-model="form.description" placeholder="Enter description" rows="2" class="form-control"></textarea>
                </div>

                <button @click.prevent.stop="addPortfolioItem" type="button" class="btn btn-sm btn-primary">Add</button>
                
			</div>
		</div>	
        <div class="col-6">
            <div class="parent">
                <div v-for="(item, indexPortfolio) in portfolio" :key="item.id">
                    <img class="img-thumbnail" :src="item.image" alt="">
                    <button type="button" @click.prevent.stop="removePortfolioItem(item, indexPortfolio)" class="btn btn-sm btn-danger mt-1">Remove</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Form from 'form-backend-validation';
import { EventBus } from '../../event-bus';
export default {
    props: ['company'],
    data() {
        return {
            form: new Form({
                image: '',
                category: '',
                title: '',
                description: '',
                link: '',
                id: '',
                step: 'step-5',
            }),
            portfolio: [],
            categories: [
                { id:  1, name: 'Web design' },
                { id:  2, name: 'Web development' },
                { id:  3, name: 'E-commerce development' },
                { id:  4, name: 'Custom software development' },
                { id:  5, name: 'Game development' },
                { id:  6, name: 'Mobile app development' },
                { id:  7, name: 'UI/UX design' },
                { id:  8, name: 'Digital Marketing' },
                { id:  9, name: 'SEO & PPC' },
                { id:  10, name: 'Social Media Marketing' },
            ]
        }
    },
    mounted() {
        this.listenEvents();
        this.getPortfolios();
    },
    methods: {
        removePortfolioItem(portfolio, index) {
            axios.get(`/portfolios/${portfolio.id}/delete`).then(response => {
                this.portfolio.splice(index, 1);
            })
        },
        getPortfolios() {
            axios.get(`/company/${this.company.id}/portfolios`).then(response => {
                this.portfolio = response.data;
            })
        },
        addPortfolioItem() {
            let formData = new FormData();
            formData.append('image', this.form.image);
            formData.append('step', this.form.step);
            formData.append('id', this.company.id);
            formData.append('category', this.form.category);
            formData.append('title', this.form.title);
            formData.append('description', this.form.description);
            formData.append('link', this.form.link);
            
            // send request to backend and save data
            axios.post('/company/create', formData, {
                headers: { 'Content-Type': 'multipart/form-data'} 
            }).then(response => {
                // EventBus.$emit('company-lead-saved', response);
                this.portfolio.push(response.data);
                this.form.reset();
                this.$refs.file.value = null;
            }).catch(error => {
                console.log(error);
            });
        },
        onFileChange() {
            this.form.image = this.$refs.file.files[0];
        },
        listenEvents() {
            EventBus.$on('next-clicked', (payload) => {
                if (payload.activeStep === 'step-5') {
                    EventBus.$emit('company-portfolio-saved', this.portfolio);
                }
            })
        },
    }
}
</script>
<style lang="css" scoped>
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
</style>
