<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="step-first">
                <div class="kt-grid__item kt-wizard-v2__aside">
                    <!--begin: Form Wizard Nav -->
                    <div class="kt-wizard-v2__nav">
                        <!--doc: Remove "kt-wizard-v2__nav-items--clickable" class and also set 'clickableSteps: false' in the JS init to disable manually clicking step titles -->
                        <div v-for="step in steps" :key="step.id" class="kt-wizard-v2__nav-items">
                            <div class="kt-wizard-v2__nav-item" data-ktwizard-type="step" :data-ktwizard-state=" step.id === activeStep  ? 'current' : 'pending'">
                                <div class="kt-wizard-v2__nav-body">
                                    <div class="kt-wizard-v2__nav-icon">
                                        <i :class="step.icon"></i>
                                    </div>
                                    <div class="kt-wizard-v2__nav-label">
                                        <div class="kt-wizard-v2__nav-label-title">
                                            {{step.title}}
                                        </div>
                                        <div class="kt-wizard-v2__nav-label-desc">
                                            {{step.subtitle}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                    <!--begin: Form Wizard Form-->
                    <form class="kt-form" v-if="!loading">
                        <!--begin: Form Wizard Step 1-->
                        <div v-if="activeStep == 'step-1'">                        
                            <company-create-basic-info :company="company"></company-create-basic-info>
                        </div>
                        <div v-if="activeStep == 'step-2'">
                            <company-create-locations :company="company"></company-create-locations>
                        </div>
                        <div v-if="activeStep == 'step-3'">
                            <company-create-lead :company="company"></company-create-lead>
                        </div>
                        <div v-if="activeStep == 'step-4'">
                            <company-create-focus :company="company"></company-create-focus>
                        </div>
                        <div v-if="activeStep == 'step-5'">
                            <company-create-portfolio :company="company"></company-create-portfolio>
                        </div>
                        <div v-if="activeStep == 'step-6'">
                            <company-create-admin-info :company="company"></company-create-admin-info>
                        </div>
                        <!--begin: Form Actions -->
                        <div class="kt-form__actions mt-5">
                            <button @click.stop.prevent="nextStep" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                Save & Continue
                            </button>
                        </div>
                        <!--end: Form Actions -->
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import {EventBus} from '../event-bus';

    export default {
        props: ['id'],
        data() {
            return {
                company: null,
                activeStep: 'step-1',
                steps: [
                    {
                        id: 'step-1',
                        title: 'Basic Info',
                        subtitle: 'Company size, branding, all the fun, simple stuff.',
                        icon: 'flaticon-globe'
                    },
                    {
                        id: 'step-2',
                        title: 'Setup Locations',
                        subtitle: 'Choose Your Location Map',
                        icon: 'flaticon-bus-stop'
                    },
                    {
                        id: 'step-3',
                        title: 'Leads',
                        subtitle: 'When a lead finds you on the Clutch site, give them the best ways to get in touch with you.',
                        icon: 'flaticon-bus-stop'
                    },
                    {
                        id: 'step-4',
                        title: 'Focus',
                        subtitle: 'Give buyers a sense of how you spend your time.',
                        icon: 'flaticon-bus-stop'
                    },
                    {
                        id: 'step-5',
                        title: 'Portfolio',
                        subtitle: 'Potential buyers love seeing example work. If you don\'t have anything visual to show, feel free to skip this step.',
                        icon: 'flaticon-bus-stop'
                    },
                    {
                        id: 'step-6',
                        title: 'Admin Info',
                        subtitle: 'This is for the Clutch team to contact you, promote your great reviews on social media, and give you helpful stats. None of this info will be displayed on your profile, this is for admin use only.',
                        icon: 'flaticon-bus-stop'
                    },

                ],
                loading: false,
            }
        },
        mounted() {
            if (this.id) {
                this.loading = true;
                this.findCompany();
            }
            this.listenEvents();
        },
        methods: {
            findCompany() {
                axios.get(`/company/${this.id}`).then(response => {
                    this.company = response.data;
                    this.loading = false;
                })
            },
            listenEvents() {
                EventBus.$on('company-saved', (company) => {
                    this.company = company;
                    // get the next step
                    const step = 'step-' + (parseInt(this.activeStep.split('-')[1]) + 1);
                    // go to next step
                    this.gotoStep(step);
                });
                EventBus.$on('company-location-saved', (locations) => {
                    // get the next step
                    const step = 'step-' + (parseInt(this.activeStep.split('-')[1]) + 1);
                    // go to next step
                    this.gotoStep(step);
                });
                EventBus.$on('company-lead-saved', (company) => {
                    this.company = company;
                    // get the next step
                    const step = 'step-' + (parseInt(this.activeStep.split('-')[1]) + 1);
                    // go to next step
                    this.gotoStep(step);
                });
                EventBus.$on('company-focus-saved', (data) => {
                    // get the next step
                    const step = 'step-' + (parseInt(this.activeStep.split('-')[1]) + 1);
                    // go to next step
                    this.gotoStep(step);
                });
                EventBus.$on('company-portfolio-saved', (portfolios) => {
                    // get the next step
                    const step = 'step-' + (parseInt(this.activeStep.split('-')[1]) + 1);
                    // go to next step
                    this.gotoStep(step);
                });
                EventBus.$on('company-admin-info-saved', (company) => {
                    // get the next step
                    window.location.href = '/companies';
                });
            },
            gotoStep(step) {
                this.activeStep = step;
                window.scrollTo(0, 0);
            },
            nextStep() {
                if (!this.isLastStep) {
                    const step = 'step-' + (parseInt(this.activeStep.split('-')[1]) + 1);
                    // emit an event for form components to listen and save data
                    EventBus.$emit('next-clicked', {
                        nextStep: step, 
                        activeStep: this.activeStep, 
                        id : this.company ? this.company.id : null 
                    });
                }
            },
            previousStep() {
                if (!this.isFirstStep) {
                    const step = 'step-' + (parseInt(this.activeStep.split('-')[1]) - 1);
                    this.gotoStep(step);
                }
            }
        },
        computed: {
            isFirstStep() {
                const index = this.steps.findIndex((item) => item.id === this.activeStep);
                return index === 0;
            },
            isLastStep() {
                const index = this.steps.findIndex((item) => item.id === this.activeStep);
                return (this.steps.length - 1) === index;
            }
        }
    }

</script>
<style scoped>
</style>

